<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="SajidPatel\PriceDropNotification\Api\NotificationRepositoryInterface" type="SajidPatel\PriceDropNotification\Model\NotificationRepository" />

    <type name="SajidPatel\PriceDropNotification\Api\NotificationRepositoryInterface">
        <arguments>
            <argument name="resource" xsi:type="object">SajidPatel\PriceDropNotification\Model\ResourceModel\Notification</argument>
            <argument name="notificationFactory" xsi:type="object">SajidPatel\PriceDropNotification\Model\NotificationFactory</argument>
            <argument name="collectionFactory" xsi:type="object">SajidPatel\PriceDropNotification\Model\ResourceModel\Notification\CollectionFactory</argument>
            <argument name="searchResultsFactory" xsi:type="object">SajidPatel\PriceDropNotification\Api\Data\NotificationSearchResultsInterfaceFactory</argument>
        </arguments>
    </type>
    <!-- <preference for="SajidPatel\PriceDropNotification\Api\NotificationRepositoryInterface"
        type="SajidPatel\PriceDropNotification\Model\NotificationRepository"/>
    <preference for="SajidPatel\PriceDropNotification\Api\Data\NotificationInterface"
        type="SajidPatel\PriceDropNotification\Model\Notification"/>
    <preference for="SajidPatel\PriceDropNotification\Api\Data\NotificationSearchResultsInterface"
        type="SajidPatel\PriceDropNotification\Model\NotificationSearchResults" /> -->

    <!-- <type name="SajidPatel\PriceDropNotification\Model\NotificationRepository">
        <arguments>
            <argument name="resource"
                xsi:type="object">SajidPatel\PriceDropNotification\Model\ResourceModel\Notification</argument>
            <argument name="notificationFactory"
                xsi:type="object">SajidPatel\PriceDropNotification\Model\NotificationFactory</argument>
            <argument name="notificationCollectionFactory"
                xsi:type="object">SajidPatel\PriceDropNotification\Model\ResourceModel\Notification\CollectionFactory</argument>
            <argument name="searchResultsFactory"
                xsi:type="object">Magento\Framework\Api\SearchResultsFactory</argument>
        </arguments>
    </type> -->

    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <item
                    name="price_drop_notification"
                    xsi:type="object">SajidPatel\PriceDropNotification\Model\Resolver\FilterArgument\PriceDropNotification
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\MessageQueue\PublisherPool">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item
                    name="sajidpatel.price_drop_notification"
                    xsi:type="string">sajidpatel.price_drop_notification
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Cron\Model\Config\Backend\Product\Alert">
        <plugin
            name="sajidpatel_price_drop_notification_cron_config"
            type="SajidPatel\PriceDropNotification\Plugin\CronConfigPlugin"
            sortOrder="1" />
    </type>

    <type name="Magento\Customer\Model\Customer">
        <plugin name="sajidpatel_pricedropnotification_customer_plugin"
                type="SajidPatel\PriceDropNotification\Plugin\Model\CustomerPlugin"/>
    </type>

    <type name="Magento\Framework\GraphQl\Query\ResolverInterface">
        <arguments>
            <argument name="priceDropNotifications" xsi:type="object">SajidPatel\PriceDropNotification\Model\Resolver\PriceDropNotifications</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\GraphQl\Query\ResolverInterface">
        <arguments>
            <argument name="enablePriceDropNotification" xsi:type="object">SajidPatel\PriceDropNotification\Model\Resolver\EnablePriceDropNotification</argument>
        </arguments>
    </type>

    <!-- [TODO: Remove before deployin] -->
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="cors_headers" type="SajidPatel\PriceDropNotification\Plugin\CorsHeaders"/>
    </type>
</config>
