<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <item
                    name="price_drop_notification"
                    xsi:type="object">SajidPatel\PriceDropNotification\Model\Resolver\FilterArgument\PriceDropNotification
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\MessageQueue\PublisherPool">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item
                    name="sajidpatel.price_drop_notification"
                    xsi:type="string">sajidpatel.price_drop_notification
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Cron\Model\Config\Backend\Product\Alert">
        <plugin
            name="sajidpatel_price_drop_notification_cron_config"
            type="SajidPatel\PriceDropNotification\Plugin\CronConfigPlugin"
            sortOrder="1" />
    </type>

    <type name="Magento\Customer\Model\Customer">
        <plugin name="sajidpatel_pricedropnotification_customer_plugin"
                type="SajidPatel\PriceDropNotification\Plugin\Model\CustomerPlugin"/>
    </type>

    <!-- [TODO: Remove before deployin] -->
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="cors_headers" type="SajidPatel\PriceDropNotification\Plugin\CorsHeaders"/>
    </type>
</config>